ul {
    position: relative;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 10px 5px;
    list-style: none;
    border-bottom: 1px solid #CCCCCC;
}

.container {
	width: 400px;
	margin: 0 auto; 
}

.delete {
    position: absolute;
    right: 0;
}

.update {
    position: absolute;
    right: 60px;
}